<app-nav-bar></app-nav-bar>

<main>
  <div class="mt-16 mb-5">
    <img
      class="mx-auto"
      src="https://www.google.com/logos/doodles/2022/seasonal-holidays-2022-6753651837109831.2-law.gif"
      alt=""
    />
  </div>

  <app-search-bar></app-search-bar>

  <div class="flex justify-center">
    <app-button class="pr-3" name="Google Search"></app-button>
    <app-button name="I'm Feeling Lucky"></app-button>
  </div>

  <p class="text-center text-xs mt-8">
    Google offered in: <a class="text-blue-800" href="#">Français</a>
  </p>
</main>

<app-footer></app-footer>
